{% extends "common.html" %}

{% load static %}

{% block body %}
<form class="row g-3 " method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-3">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="email">
    </div><br>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName4" name="name">
    </div>
    
    <div class="col-md-3">
      <label for="inputZip" class="form-label">Age</label>
      <input type="number" class="form-control" id="inputZip" name="age">
    </div>
    <div class="col-md-3">
      <label for="inputZip" class="form-label">Image</label>
      <input type="file" class="form-control" id="inputZip" name="image">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
{% endblock %}