{% extends 'common.html' %}

{% load static %}

{% block body %}
{% if data %}
<h2>Search Results</h2>
<div class="container">
  
    
  
  {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
          
          
            {% for student in data %}
              <tr>
                <th scope="row">{{ student.id }}</th>
                <td> <a href="/detail/{{ student.id }}">{{ student.name }}</a> </td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td><img src= "http://127.0.0.1:8000/media/{{ student.image }}" alt="{{ student.name }}" width="70" height="70" class="rounded"></td>
                <td><a class="btn btn-warning" href="/edit/{{ student.id }}">Edit</a></td>
                <td> 
                    <a class="btn btn-danger" href="/delete/{{ student.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    {% else %}

        <h2>No data found for <u>{{query}}</u> </h2>

    {% endif %}
    
</div>

  {% if data %}
    <h2>Students Grid</h2>
  
    <div class="row">
        {% for item in data %}
        <div class="col-md-3">
            <div class="card mb-3" >
                <img src="http://127.0.0.1:8000/media/{{ item.image }}" class="card-img-top" alt="{{item.name}}">
                <div class="card-body">
                    <p class="card-text"><h2>{{ item.name }}</h2></p>
                    <p class="card-text">{{ item.email }}</p>
                    <p class="card-text">{{ item.age }}</p>
                    <p class="card-text">{{ item.created_at}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
  {% endif %}
{% endblock %}