{% extends 'common.html' %}

{% load static %}

{% block body %}
<h2>Students</h2>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>20</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}